In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
from keras.preprocessing.image import load_img

df = pd.read_csv("./data/coordinates.csv", names=["COD_SETOR","COORD_ID", "LAT", "LNG"])
df.head()

Using TensorFlow backend.

         COD_SETOR  COORD_ID        LAT        LNG
0  355030801000001         0 -23.568380 -46.572104
1  355030801000001         1 -23.566752 -46.570455
2  355030801000001         2 -23.568870 -46.569899
3  355030801000001         3 -23.567367 -46.572305
4  355030801000001         4 -23.567225 -46.570765

In [43]:
%matplotlib inline 
import matplotlib.pyplot as plt

def get_image_path(sector,iid):
    return "./images/streetview512/{sector}/IMG_{sector:15d}_{iid:03d}.jpg".format(sector=int(sector), iid=int(iid))

wrong_size = []

for idx, record in df.iterrows():
    if idx % 5000 == 0:
        print(idx, "/", df.shape[0])
    image = plt.imread(get_image_path(record["COD_SETOR"], record["COORD_ID"]))
    if image.shape[0:2] != (244,244):
        wrong_size.append((record["COD_SETOR"], record["COORD_ID"]))
        
print("Wrong dimensions = ", len(wrong_size))

0 / 183630
5000 / 183630
10000 / 183630
15000 / 183630
20000 / 183630
25000 / 183630
30000 / 183630
35000 / 183630
40000 / 183630
45000 / 183630
50000 / 183630
55000 / 183630
60000 / 183630
65000 / 183630
70000 / 183630
75000 / 183630
80000 / 183630
85000 / 183630
90000 / 183630
95000 / 183630
100000 / 183630
105000 / 183630
110000 / 183630
115000 / 183630
120000 / 183630
125000 / 183630
130000 / 183630
135000 / 183630
140000 / 183630
145000 / 183630
150000 / 183630
155000 / 183630
160000 / 183630
165000 / 183630
170000 / 183630
175000 / 183630
180000 / 183630
Wrong dimensions =  0

In [2]:
import matplotlib.pyplot as plt
import numpy as np

def get_image_path(sector,iid):
    return "./images/streetview512/{sector}/IMG_{sector:15d}_{iid:03d}.jpg".format(sector=int(sector), iid=int(iid))

error_template = load_img("./images/templates/missing_image512.jpg")
def check_picture(sector, iid):
    img = plt.imread(get_image_path(sector,iid))
    diff = img - error_template
    if np.max(diff) == 0 and np.min(diff) == 0:
        return False
    else:
        return True
    
check_picture(355030801000015,6)

False

In [4]:
blank_pictures = []

for idx, record in df.iterrows():
    if idx % 5000 == 0:
        print(idx, "/", df.shape[0])
    blank_pictures.append(check_picture(record["COD_SETOR"], record["COORD_ID"]))

0 / 183630
5000 / 183630
10000 / 183630
15000 / 183630
20000 / 183630
25000 / 183630
30000 / 183630
35000 / 183630
40000 / 183630
45000 / 183630
50000 / 183630
55000 / 183630
60000 / 183630
65000 / 183630
70000 / 183630
75000 / 183630
80000 / 183630
85000 / 183630
90000 / 183630
95000 / 183630
100000 / 183630
105000 / 183630
110000 / 183630
115000 / 183630
120000 / 183630
125000 / 183630
130000 / 183630
135000 / 183630
140000 / 183630
145000 / 183630
150000 / 183630
155000 / 183630
160000 / 183630
165000 / 183630
170000 / 183630
175000 / 183630
180000 / 183630

In [5]:
sum(0 if v else 1 for v in blank_pictures)

20741

In [6]:
df["HAS_PICTURE"] = blank_pictures
df.head()

         COD_SETOR  COORD_ID        LAT        LNG  HAS_PICTURE
0  355030801000001         0 -23.568380 -46.572104         True
1  355030801000001         1 -23.566752 -46.570455         True
2  355030801000001         2 -23.568870 -46.569899         True
3  355030801000001         3 -23.567367 -46.572305         True
4  355030801000001         4 -23.567225 -46.570765         True

In [7]:
df.to_csv("./data/coordinates_check_512.csv", header=False)