In [1]:
from mapretrieve import *
import pandas as pd

In [2]:
df = pd.read_csv("./data/coordinates.csv",names=["COD_SETOR", "COORD_ID", "LAT", "LNG"])
df.head()

         COD_SETOR  COORD_ID        LAT        LNG
0  355030801000001         0 -23.568380 -46.572104
1  355030801000001         1 -23.566752 -46.570455
2  355030801000001         2 -23.568870 -46.569899
3  355030801000001         3 -23.567367 -46.572305
4  355030801000001         4 -23.567225 -46.570765

In [3]:
import os

success = []

for census_dir in os.listdir("./images/streetview512"):
    fullpath = os.path.join("./images/streetview512",census_dir)
    if len(os.listdir(fullpath)) == 10:
        success.append(int(census_dir))
    else:
        print(fullpath)
        
len(success)

./images/streetview512\355030848000008
./images/streetview512\355030894000268

17990

In [4]:
df_filter = df[~df["COD_SETOR"].isin(success)]
df_filter.head()

             COD_SETOR  COORD_ID        LAT        LNG
96340  355030848000008         0 -23.526855 -46.705998
96341  355030848000008         1 -23.526224 -46.708220
96342  355030848000008         2 -23.525325 -46.708095
96343  355030848000008         3 -23.526241 -46.706907
96344  355030848000008         4 -23.526665 -46.708024

In [5]:
try:
    retrieve_geo_df(df_filter, output_path = "./images/streetview512", imsize=(512,512))
except GoogleAPIError as err:
    print("An error has ocurred")
    print(err.message)

Skiping 355030848000008.0/0.0 (-23.526855427797962,-46.70599806799465)
Skiping 355030896000063.0/2.0 (-23.535681931700182,-46.42139251088594)