In [1]:
from mapretrieve import *
import pandas as pd

In [2]:
df = pd.read_csv("./data/coordinates.csv")
df.head()

   355030801000001  0  -23.568380450239307  -46.57210359527478
0  355030801000001  1           -23.566752          -46.570455
1  355030801000001  2           -23.568870          -46.569899
2  355030801000001  3           -23.567367          -46.572305
3  355030801000001  4           -23.567225          -46.570765
4  355030801000001  5           -23.567066          -46.572299

In [ ]:
retrieve_geo_csv("./data/coordinates.csv", imsize=(480,480))