In [1]:
from mapretrieve import *
import pandas as pd

In [2]:
df = pd.read_csv("./data/coordinates.csv",names=["COD_SETOR", "COORD_ID", "LAT", "LNG"])
df.head()

         COD_SETOR  COORD_ID        LAT        LNG
0  355030801000001         0 -23.568380 -46.572104
1  355030801000001         1 -23.566752 -46.570455
2  355030801000001         2 -23.568870 -46.569899
3  355030801000001         3 -23.567367 -46.572305
4  355030801000001         4 -23.567225 -46.570765

In [8]:
import os

success = []

for census_dir in os.listdir("./images"):
    fullpath = os.path.join("./images",census_dir)
    if len(os.listdir(fullpath)) == 10:
        success.append(int(census_dir))
        
len(success)

2485

In [10]:
df_filter = df[~df["COD_SETOR"].isin(success)]
df_filter.head()

             COD_SETOR  COORD_ID        LAT        LNG
15950  355030813000136         0 -23.480626 -46.656447
15951  355030813000136         1 -23.480818 -46.657666
15952  355030813000136         2 -23.481314 -46.658303
15953  355030813000136         3 -23.481842 -46.657129
15954  355030813000136         4 -23.480641 -46.656531

In [7]:
try:
    retrieve_geo_df(df_filter)
except GoogleAPIError as err:
    print("An error has ocurred")
    print(err.message)

An error has ocurred
Error 403: You have exceeded your Google API usage limit